.App {
  text-align: center;
}
a {
 direction: none;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Set the height to 100% of the viewport height for vertical centering */
}

.center-content {
  text-align: center;
}
.form-control {
  outline: none;
  
}
.form-control:focus {
  border-color: #ced4da;
  /* Change the border color on focus */
  border-width: 1px;
  /* Optionally, adjust the border width */
}

.const {
    background-image: 'https://cdn.wallpapersafari.com/51/27/78VlbA.jpg' !important ;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh
  }

.lp{

    background-image: 'https: //wallpapercave.com/wp/wp8623049.png' !important ;
    background-size: cover;
  background-color: rgba(13, 13, 91, 0.355);


}